.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCheerText {
  cursor: pointer;
 
  font-size: 18px;
}

.author-name {
  font-size: 10px;
  margin-left: -2.5rem;
  margin-top: 2rem;


}

.postUsername {
  font-size: 18px;

}

.postDate {
  margin-left: 17rem;
}

.postText {
  margin-left: 4rem;
  margin-top: -2rem;
}
.cheer{
  z-index: 0;
}
.new-cheer{
  display: flex;
  flex: 0 0 auto;
  
}
.cheer-body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.cheer-body.visible {
  max-height: 400px; 
  transition: max-height 0.3s ease-in;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  
}
.cheers{
  flex: 1 1 auto;
  overflow: auto;
    /* overflow-x: visible;
    overflow-y: auto; */
}
.spin-out-image{
 
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.postBottomRight{
text-decoration: underline;
}
.postBottomRight:hover>.spin-out-image{
  animation: spin-out 1s 1 ease-in-out;
  transform-origin: center center;
 
  
}
.cheer-btn{
  background-color: #9DC08B;
  width:80px;
  cursor: pointer;
}
.cheer-btn:hover{
  background-color: #80a46e;
}
@keyframes spin-out {
  from {
    transform: rotateY(0deg);
  }
  
  to {
    transform: rotateY(360deg);
  }
}
.cheer-item{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 5px;
  text-align: center;
}
.postTopRight{
  border:1px solid rgb(208, 208, 208);
  padding: 2px;
  width: 5vw;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #7d7d7d;
}