
.dash{
    display: flex;
    /* flex-direction: row; */
    background-color: #fff;
    width:100vw;
    height:80vh;
    
}
.main-outer{
    height: 100vh;
    background-color: #fff;
}

/* .dashItem{
    flex:1;
} */