.outer-following{
    background-color: orange;
    width:48vw;
    height: 70vh;
    margin-left: 1vw;
    margin-right: 1vw;

}
.unfollowBtn{
  border:1px solid rgb(208, 208, 208);
  padding: 2px;
  width: 5vw;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #7d7d7d;
}
.followingItemOuter{
    display:flex;
}