.wrapper{
    display: flex;

}

.add-btns{
    background-color: #9DC08B;
    width: 10vw;
    height: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    margin-right: 10px;
    margin-left: 10px;
}
.add-btns:hover{
    background-color: #7ca766;
    cursor: pointer;
}
.addressInput{
    width: 30vw;
}